<h2>Mutt Release Notes</h2>

<p>
  <a href="1.9/">Version 1.9</a>
</p>
<p>
  <a href="1.10/">Version 1.10</a>
</p>
<p>
  <a href="1.11/">Version 1.11</a>
</p>
<p>
  <a href="1.12/">Version 1.12</a>
</p>
<p>
  <a href="1.13/">Version 1.13</a>
</p>
<p>
  <a href="1.14/">Version 1.14</a>
</p>
<p>
  <a href="2.0/">Version 2.0</a>
</p>
